html, body {
  display:  flex; 
  align-items:  flex-start; 
  justify-content:  flex-start; 
  background:  #f3f2f2; 
}

div{
 display:inline-block;
 border:3px solid hsl(271, 100%, 85%);
 border-radius: 10px;
 background-color: white;
 padding: 20px;
}