<br><br>

<div style="margin-left: 15px; margin-right: 30px;">
    <br>
    <table class="styled-table">
        <thead>
        <tr>         
         
            <th>Insurance Company</th>
            <th>Price</th>
            <th>Med. assist.</th>
            <th>Inpatient treat.</th>
            <th>Medication</th>
            <th>Med. supplies</th>
            <th>Orth. aids</th>
            <th>Trans. to hospital</th>
            <th>Hosp .treat.</th>
            <th>Diagnostics</th>
            <th>Urgent op.</th>
            <th>Acc. death</th>
            <th>Acc. perm. disab.</th>
            <th>Rescue exp.</th>
            <th>Ski equip.</th>
            <th>Extra equip.</th>
            <th>VIP</th>
            <th>Choose</th>
        
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let policy of policies">
            <td>{{policy.insuranceCompany.name}}</td>
            <td>{{policy.price}}</td>
            <td>
                <mat-icon aria-hidden="false" aria-label="Example home icon" *ngIf="!policy.medicalAssistance">clear</mat-icon>
                <mat-icon aria-hidden="false" aria-label="Example home icon" *ngIf="policy.medicalAssistance">checked</mat-icon>
            </td>
            <td>
                <mat-icon aria-hidden="false" aria-label="Example home icon" *ngIf="!policy.inpatientTreatment">clear</mat-icon>
                <mat-icon aria-hidden="false" aria-label="Example home icon" *ngIf="policy.inpatientTreatment">checked</mat-icon>
            </td>
            <td>
                <mat-icon aria-hidden="false" aria-label="Example home icon" *ngIf="!policy.medication">clear</mat-icon>
                <mat-icon aria-hidden="false" aria-label="Example home icon" *ngIf="policy.medication">checked</mat-icon>
            </td>
            <td>
                <mat-icon aria-hidden="false" aria-label="Example home icon" *ngIf="!policy.medicalSupplies">clear</mat-icon>
                <mat-icon aria-hidden="false" aria-label="Example home icon" *ngIf="policy.medicalSupplies">checked</mat-icon>
            </td>
            <td>
                <mat-icon aria-hidden="false" aria-label="Example home icon" *ngIf="!policy.orthopaedicAids">clear</mat-icon>
                <mat-icon aria-hidden="false" aria-label="Example home icon" *ngIf="policy.orthopaedicAids">checked</mat-icon>
            </td>
            <td>
                <mat-icon aria-hidden="false" aria-label="Example home icon" *ngIf="!policy.transportToHospital">clear</mat-icon>
                <mat-icon aria-hidden="false" aria-label="Example home icon" *ngIf="policy.transportToHospital">checked</mat-icon>
            </td>
            <td>
                <mat-icon aria-hidden="false" aria-label="Example home icon" *ngIf="!policy.hospitalTreatment">clear</mat-icon>
                <mat-icon aria-hidden="false" aria-label="Example home icon" *ngIf="policy.hospitalTreatment">checked</mat-icon>
            </td>
            <td>
                <mat-icon aria-hidden="false" aria-label="Example home icon" *ngIf="!policy.diagnostics">clear</mat-icon>
                <mat-icon aria-hidden="false" aria-label="Example home icon" *ngIf="policy.diagnostics">checked</mat-icon>
            </td>
            <td>
                <mat-icon aria-hidden="false" aria-label="Example home icon" *ngIf="!policy.urgentOperations">clear</mat-icon>
                <mat-icon aria-hidden="false" aria-label="Example home icon" *ngIf="policy.urgentOperations">checked</mat-icon>
            </td>
            <td>
                <mat-icon aria-hidden="false" aria-label="Example home icon" *ngIf="!policy.accidentalDeath">clear</mat-icon>
                <mat-icon aria-hidden="false" aria-label="Example home icon" *ngIf="policy.accidentalDeath">checked</mat-icon>
            </td>
            <td>
                <mat-icon aria-hidden="false" aria-label="Example home icon" *ngIf="!policy.accidentalPermanentDisability">clear</mat-icon>
                <mat-icon aria-hidden="false" aria-label="Example home icon" *ngIf="policy.accidentalPermanentDisability">checked</mat-icon>
            </td>
            <td>
                <mat-icon aria-hidden="false" aria-label="Example home icon" *ngIf="!policy.rescueExpenses">clear</mat-icon>
                <mat-icon aria-hidden="false" aria-label="Example home icon" *ngIf="policy.rescueExpenses">checked</mat-icon>
            </td>
            <td>
                <mat-icon aria-hidden="false" aria-label="Example home icon" *ngIf="!policy.skiEquipment">clear</mat-icon>
                <mat-icon aria-hidden="false" aria-label="Example home icon" *ngIf="policy.skiEquipment">checked</mat-icon>
            </td>
            <td>
                <mat-icon aria-hidden="false" aria-label="Example home icon" *ngIf="!policy.extraEquipement">clear</mat-icon>
                <mat-icon aria-hidden="false" aria-label="Example home icon" *ngIf="policy.extraEquipement">checked</mat-icon>
            </td>
            <td>
                <mat-icon aria-hidden="false" aria-label="Example home icon" *ngIf="!policy.vip">clear</mat-icon>
                <mat-icon aria-hidden="false" aria-label="Example home icon" *ngIf="policy.vip">checked</mat-icon>
            </td>
            <td>
                <button  mat-button color="primary" (click)="choosePolicy(policy.id)">Choose</button>
            </td>
        </tr>
    </tbody>

    </table>
    
</div>
