<form class="reactiveForm"  [formGroup]="ticketForm" (ngSubmit)="makeReservation()">
    <div style="margin-left: 50px;" class="example-container">
    <br>
    <br>
    <table class="styled-table">
        <thead>
        <tr>         
            <th>New reservation</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <mat-form-field appearance="fill">
                    <mat-label>Ski resort</mat-label>
                    <mat-select id="skiSelect" [(value)]="selected" (valueChange)="onSelection($event)" >
                        <mat-option  *ngFor="let ski of resorts" id="ski{{ski.id}}" [value]="ski">
                            {{ski.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </td>
            <td>
                <mat-radio-group aria-label="Transport type" formControlName="transportType">
                    <mat-radio-button style="margin-left: 10px;" value="LIFT">Lift</mat-radio-button>
                    <mat-radio-button style="margin-left: 10px;" value="GONDOLA">Gondola</mat-radio-button>
                    <mat-radio-button style="margin-left: 10px;" value="LIFTGONDOLA">Lift+Gondola</mat-radio-button>
                </mat-radio-group>
            </td>
            <td>
                <mat-radio-group aria-label="Ticket using period"  formControlName="usingPeriod" *ngIf="ticketForm.value.transportType === 'LIFT' || ticketForm.value.transportType === 'LIFT+GONDOLA'">
                    <mat-radio-button style="margin-left: 10px;" value="DAY">Day</mat-radio-button>
                    <mat-radio-button style="margin-left: 10px;" value="HALFDAY">Half-day</mat-radio-button>
                    <mat-radio-button style="margin-left: 10px;" value="NIGHT">Night</mat-radio-button>
                </mat-radio-group> 
            </td>
        </tr>
        <tr>
            <th>Using period</th>
            <th></th>
            <th></th>
        </tr>
        <tr>
            <td>
                <mat-form-field appearance="fill">
                    <mat-label>Enter a date range</mat-label>
                    <mat-date-range-input [rangePicker]="picker"[min]="minDate" [max]="maxDate">
                      <input matStartDate formControlName="usingStart" placeholder="Start date">
                      <input matEndDate formControlName="usingEnd" placeholder="End date">
                    </mat-date-range-input>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-date-range-picker #picker></mat-date-range-picker>
                </mat-form-field>
            </td>
            <td>
              
            </td>
            <td></td>
        </tr>
        <tr>
            <th>Ticket users</th>
            <th></th>
            <th></th>
        </tr>
        <tr>
            <td>
                <mat-form-field appearance="fill">
                    <mat-label>Adult</mat-label>
                    <input type="number" step="1" matInput formControlName="adult" min="0" max="20">
                </mat-form-field>
            </td>
            <td>
                <mat-form-field appearance="fill" style="margin-left: 10px;">
                    <mat-label>Child</mat-label>
                    <input type="number" step="1" matInput formControlName="child" min="0" max="20">
                </mat-form-field>
            </td>
            <td>
                <mat-form-field appearance="fill"  style="margin-left: 10px;">
                    <mat-label>Senior</mat-label>
                    <input type="number" step="1" matInput formControlName="senior" min="0" max="20">
                </mat-form-field>
            </td>
        </tr>
        <tr>
            <th>Discount/privilege</th>
            <th></th>
            <th></th>
        </tr>
        <tr>
            <td>
                <mat-form-field appearance="fill">
                    <mat-label>Loyalty</mat-label>
                    <input type="number" step="1" matInput formControlName="loyalty" min="0" max="20">
                </mat-form-field>
            </td>
            <td>
                <mat-form-field appearance="fill" style="margin-left: 10px;">
                    <mat-label>Student</mat-label>
                    <input type="number" step="1" matInput formControlName="student" min="0" max="20">
                </mat-form-field>
            </td>
            <td>
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <mat-dialog-actions >
                    <button id="ticketSubmit" style="width: 250px; height: 50px; display: block; margin-left: auto; margin-right: auto; "  type="submit" mat-raised-button color="success" >Calculate bill</button>
                </mat-dialog-actions>
            </td>
            <td></td>
        </tr>
    </tbody>
    </table>
    <br><br>
    </div>
</form>