<br><br>

<div style="margin-left: 15px; margin-right: 30px;">
    <button (click)="buyNewInsurance()" style="margin-left: 50px;" mat-raised-button>Buy new insurance</button>
    <br><br>
    <table class="styled-table">
        <thead>
        <tr>         
         
            <th>Insurance Company</th>
            <th>Price</th>
            <th>Med. assist.</th>
            <th>Inpatient treat.</th>
            <th>Medication</th>
            <th>Med. supplies</th>
            <th>Orth. aids</th>
            <th>Trans. to hospital</th>
            <th>Hosp .treat.</th>
            <th>Diagnostics</th>
            <th>Urgent op.</th>
            <th>Acc. death</th>
            <th>Acc. perm. disab.</th>
            <th>Rescue exp.</th>
            <th>Ski equip.</th>
            <th>Extra equip.</th>
            <th>VIP</th>
            <th>Remove</th>
        
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let p of policies">
            <td>{{p.policy?.insuranceCompany?.name}}</td>
            <td>{{p.policy?.price}}</td>
            <td>
                <mat-icon aria-hidden="false" aria-label="Example home icon" *ngIf="!p.policy?.medicalAssistance">clear</mat-icon>
                <mat-icon aria-hidden="false" aria-label="Example home icon" *ngIf="p.policy?.medicalAssistance">checked</mat-icon>
            </td>
            <td>
                <mat-icon aria-hidden="false" aria-label="Example home icon" *ngIf="!p.policy?.inpatientTreatment">clear</mat-icon>
                <mat-icon aria-hidden="false" aria-label="Example home icon" *ngIf="p.policy?.inpatientTreatment">checked</mat-icon>
            </td>
            <td>
                <mat-icon aria-hidden="false" aria-label="Example home icon" *ngIf="!p.policy?.medication">clear</mat-icon>
                <mat-icon aria-hidden="false" aria-label="Example home icon" *ngIf="p.policy?.medication">checked</mat-icon>
            </td>
            <td>
                <mat-icon aria-hidden="false" aria-label="Example home icon" *ngIf="!p.policy?.medicalSupplies">clear</mat-icon>
                <mat-icon aria-hidden="false" aria-label="Example home icon" *ngIf="p.policy?.medicalSupplies">checked</mat-icon>
            </td>
            <td>
                <mat-icon aria-hidden="false" aria-label="Example home icon" *ngIf="!p.policy?.orthopaedicAids">clear</mat-icon>
                <mat-icon aria-hidden="false" aria-label="Example home icon" *ngIf="p.policy?.orthopaedicAids">checked</mat-icon>
            </td>
            <td>
                <mat-icon aria-hidden="false" aria-label="Example home icon" *ngIf="!p.policy?.transportToHospital">clear</mat-icon>
                <mat-icon aria-hidden="false" aria-label="Example home icon" *ngIf="p.policy?.transportToHospital">checked</mat-icon>
            </td>
            <td>
                <mat-icon aria-hidden="false" aria-label="Example home icon" *ngIf="!p.policy?.hospitalTreatment">clear</mat-icon>
                <mat-icon aria-hidden="false" aria-label="Example home icon" *ngIf="p.policy?.hospitalTreatment">checked</mat-icon>
            </td>
            <td>
                <mat-icon aria-hidden="false" aria-label="Example home icon" *ngIf="!p.policy?.diagnostics">clear</mat-icon>
                <mat-icon aria-hidden="false" aria-label="Example home icon" *ngIf="p.policy?.diagnostics">checked</mat-icon>
            </td>
            <td>
                <mat-icon aria-hidden="false" aria-label="Example home icon" *ngIf="!p.policy?.urgentOperations">clear</mat-icon>
                <mat-icon aria-hidden="false" aria-label="Example home icon" *ngIf="p.policy?.urgentOperations">checked</mat-icon>
            </td>
            <td>
                <mat-icon aria-hidden="false" aria-label="Example home icon" *ngIf="!p.policy?.accidentalDeath">clear</mat-icon>
                <mat-icon aria-hidden="false" aria-label="Example home icon" *ngIf="p.policy?.accidentalDeath">checked</mat-icon>
            </td>
            <td>
                <mat-icon aria-hidden="false" aria-label="Example home icon" *ngIf="!p.policy?.accidentalPermanentDisability">clear</mat-icon>
                <mat-icon aria-hidden="false" aria-label="Example home icon" *ngIf="p.policy?.accidentalPermanentDisability">checked</mat-icon>
            </td>
            <td>
                <mat-icon aria-hidden="false" aria-label="Example home icon" *ngIf="!p.policy?.rescueExpenses">clear</mat-icon>
                <mat-icon aria-hidden="false" aria-label="Example home icon" *ngIf="p.policy?.rescueExpenses">checked</mat-icon>
            </td>
            <td>
                <mat-icon aria-hidden="false" aria-label="Example home icon" *ngIf="!p.policy?.skiEquipment">clear</mat-icon>
                <mat-icon aria-hidden="false" aria-label="Example home icon" *ngIf="p.policy?.skiEquipment">checked</mat-icon>
            </td>
            <td>
                <mat-icon aria-hidden="false" aria-label="Example home icon" *ngIf="!p.policy?.extraEquipement">clear</mat-icon>
                <mat-icon aria-hidden="false" aria-label="Example home icon" *ngIf="p.policy?.extraEquipement">checked</mat-icon>
            </td>
            <td>
                <mat-icon aria-hidden="false" aria-label="Example home icon" *ngIf="!p.policy?.vip">clear</mat-icon>
                <mat-icon aria-hidden="false" aria-label="Example home icon" *ngIf="p.policy?.vip">checked</mat-icon>
            </td>
            <td *ngIf="!compareDates(p.usingStart)"></td>
            <td *ngIf="compareDates(p.usingStart)">
                <!-- dva dana pre pocetka moze da otkaze rez-->
                <button  mat-button color="primary" (click)="removePolicy(p.id)">Remove</button>
            </td>
           
        </tr>
    </tbody>

    </table>
    
</div>
