<body>
    <div class="left">
        <form class="reactiveForm" [formGroup]="searchForm" (ngSubmit)="search()" style="display: block;  margin-left:50px; margin-right:auto;">
            <div class="example-container"> 
                <mat-form-field appearance="fill">
                    <mat-label>Search policies by id</mat-label>
                    <input id="searchContent" matInput formControlName="inputId">
                </mat-form-field>
                <div style="display: inline-block;">
                    <mat-dialog-actions align="end">
                        <button id="submitSearch" type="submit" mat-raised-button color="success" style="margin-left: 15px;">Search</button>
                    </mat-dialog-actions>
                </div>
            </div>
        </form>
        <app-policy-details [purchased] = "purchased"></app-policy-details>
    </div>
 
    <div style="margin-left: 500px;" *ngIf = "descView">
        <form class="reactiveForm" [formGroup]="inputForm" (ngSubmit)="input()" style="display: block;  margin-left:auto; margin-right:50px;">
            <div class="example-container"> 
                <mat-form-field class="example-full-width" style="margin-left: 15px;" appearance="fill" >
                    <mat-label>Reason for using policy:</mat-label>
                    <textarea  id="description" matInput formControlName="description" >
                    </textarea>
                </mat-form-field>
                <div style="display: inline-block;">
                    <mat-dialog-actions align="end">
                        <button id="submitSearch" type="submit" mat-raised-button color="success" style="margin-left: 15px;">Submit</button>
                    </mat-dialog-actions>
                </div>
            </div>
        </form>
    </div>
</body>